<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSR - The Online SQL Runner</title>
</head>
<body>
    <h3>This is a Flask App containerized with Docker to run SQL code against your very own PostgresDB</h3>
    <div class="query_runner">
        <form method="POST">
            <p>Please type your query below:</p>
            <textarea id="query" name="query" rows="5" cols="33"></textarea>
            <br/><br/>
            <input type="submit"/>
        </form>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
